/* MOBILES */
@media only screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }

  .header-contacts {
    display: none;
  }

  .site-title {
    padding-bottom: 22px;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767.98px),
  screen and (min-resolution: 2dppx) and (max-width: 767.98px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767.98px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/retina/background/hero-mobile@2x.jpg);
  }
}
/* TABLETS */
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  /* Header */
  .contacts-container {
    display: block;
  }

  .header-contacts {
    flex-direction: column;
    width: 119px;
    gap: 0px;
  }

  .header-contacts a {
    font-size: 12px;
  }

  .header-logo {
    margin-right: 120px;
  }

  /* Hero section */

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    height: 120px;
  }

  .hero-button {
    margin-top: 36px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet.jpg);
  }
  /* advanced */
  .advanced-container {
    gap: 72px 24px;
  }

  .adv-li {
    width: calc((100% - 24px) / 2);
  }

  .advanced-title {
    text-align: left;
  }

  /* Our team */

  .team-container {
    width: 100%;
    padding: 0 92px;
    gap: 64px 24px;
  }

  .people-li {
    width: calc((100% - 24px) / 2);
  }

  /* Customers */
  .custom-container {
    gap: 72px 24px;
  }

  .custom-link {
    width: 168px;
  }

  /* Footer */

  .footer-main-container {
    flex-direction: row;
    max-width: 584px;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }

  .footer-info {
    align-items: flex-start;
    gap: 16px;
    margin: 0;
  }

  .footer-net {
    align-items: baseline;
    margin: 0;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .subscribe-input {
    width: 264px;
  }

  .subscribe-container {
    align-items: flex-start;
    margin: 0 108px 0 auto;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/retina/background/hero-tablet@2x.jpg);
  }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Header */

  .header-contacts a {
    font-size: 16px;
  }

  .contacts-container {
    display: flex;
    align-items: center;
  }

  .header-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
  }

  .header-logo {
    margin-right: 76px;
  }

  /* Hero section */

  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desktop.jpg);
  }

  .hero-button {
    margin-top: 48px;
  }

  /* advanced */
  .adv-li {
    width: calc((100% - 72px) / 4);
  }

  .adv-icon-container {
    display: block;
  }

  .advanced-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .advanced-par {
    font-weight: 400;
  }

  .advanced {
    padding: 120px 0;
  }

  /* What are we doing */
  .doing {
    display: block;
  }

  /* Our Team */
  .team {
    padding: 120px 0;
  }

  .team-container {
    flex-wrap: nowrap;
    gap: 24px;
    padding: 0;
  }

  /* Customers*/
  .customers {
    padding: 120px 0;
  }

  .custom-container {
    flex-wrap: nowrap;
    gap: 0 24px;
  }

  .custom-link {
    width: 168px;
  }

  /* Footer */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-title {
    margin-bottom: 16px;
    padding-right: 120px;
  }

  .footer-main-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-info {
    margin-right: 120px;
    gap: 0;
  }

  .footer-net {
    margin-right: 80px;
  }

  .subscribe-container {
  }

  .subscribe-form {
    gap: 24px;
  }

  .subscribe-label {
  }

  .subscribe-input {
    width: 264px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/retina/background/hero-desktop@2x.jpg);
  }
}
