/* TABLETS */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  /* advanced */
  .advanced-container {
    gap: 72px 24px;
  }

  .adv-li {
    width: calc((100% - 24px) / 2);
  }

  .advanced-title {
    text-align: left;
  }

  /* Our team */

  .team-container {
    padding: 0 92px;
    gap: 64px 24px;
  }

  /* Customers */
  .custom-container {
    gap: 72px 24px;
  }

  .custom-link {
    width: 168px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* advanced */
  .adv-li {
    width: calc((100% - 72px) / 4);
  }

  .adv-icon-container {
    display: block;
  }

  .advanced-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .advanced-par {
    font-weight: 400;
  }

  .advanced {
    padding-bottom: 120px;
  }

  /* What are we doing */
  .doing {
    display: block;
  }

  /* Our Team */
  .team {
    padding: 120px 0;
  }

  .team-container {
    flex-wrap: nowrap;
    margin: none;
    gap: 24px;
    width: calc((100% -72px) / 4);
  }

  /* Customers*/
  .customers {
    padding: 120px 0;
  }

  .custom-container {
    flex-wrap: nowrap;
    gap: 0 24px;
  }

  .custom-link {
    width: 168px;
  }
}
